* {
  border: 0;
  padding: 0;
  margin: 0;
  width: auto;
  font-family: "Helvetica", sans-serif;
}

/* STYLES TO CREATe HEADER */
header {
  position: fixed;

  left: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
  padding: 39px 8%;
  z-index: 1000;
  transition: 0.6s;
  background-color: #fff;
}
.nav-item {
  width: 125px;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}
.tree {
  padding-right: 5%;
  position: fixed;
  left: 5%;
  top: 2%;
  height: 7%;
  transition: 0.6s;
}
.navSleep {
  padding-right: 5%;
  position: fixed;
  left: 13%;
  top: 3%;
  height: 5%;
  transition: 0.6s;
}
header ul {
  position: relative;
  display: flex;

  align-items: flex-end;
  margin-right: 0%;
}
header ul li {
  list-style: none;
}
header ul li:hover {
  list-style: none;
  border-bottom: 5px solid black;
  opacity: 0.2;
  transition: 0.6s;
}
header ul li a {
  text-decoration: none;
  color: black;

  font-size: 14px;
}

ul li a:hover {
  background: #fff;
  border-bottom: 2px black;
  opacity: 0.2;
  transition: 0.6s;
}
.sticky {
  padding: 8px 0px;
  background: #fff;
  opacity: 0.7;
  transition: 0.6s;
}
.navTitle {
  color: #edf1cf;
  background-color: #fff;
  padding-right: 3%;
  position: fixed;
  left: 0;
  height: 25vh;
}
.hiddenLogo {
  display: none;
  visibility: hidden;
}
.logoBox {
  margin-left: 2%;
}
.nav-item {
  text-align: center;
}

/* STYLES TO CREATE PARALLAX */
.div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-attachment: fixed;
  height: 100vh;
  background-image: url(./img/sleepless-office-decor_116.png);
  background-size: cover;
}
/* INSPO WORDS */
.inspoContainer {
  text-align: center;
}
.inspoWords {
  margin: 10% 9%;
  margin-bottom: 5%;
  font-weight: 300;
  font-size: 38px;
}
.inspoSign {
  margin-bottom: 8%;
  font-size: 14px;
  font-weight: 100;
  letter-spacing: 3px;
}

/* THINK TANK */
.thinkContainer {
  display: flex;
  flex-direction: row;
  margin: 0 7%;
  justify-content: space-between;
  background-color: transparent;
}
.color {
  background-image: linear-gradient(#fff, beige);
}
.buildingTitle {
  margin-bottom: 3%;
  font-size: 38px;
  font-weight: 300;
}
.thinkTank {
  flex: 4;
  background-color: transparent;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.thinkCard {
  margin-right: 20px;
  flex: 0 0 300px;
  margin-bottom: 3%;
}
.thinkTitle2 {
  font-size: 15px;
  font-weight: 400;
}
.thinkWords {
  font-size: 15px;
  font-weight: 300;
}
.thinkPic {
  height: 50vh;
  margin: auto;
  display: block;
}
.learnMoreButton {
  width: 250px;
  height: 50px;
  font-size: 15px;
  margin: 45px 0px;
  background-color: #355556;
  color: whitesmoke;
}
.button1 {
  height: 30px;
}

.hideTitle {
  display: none;
  visibility: hidden;
}
/* styling for team slideshow */
.teamContainer {
  display: flex;
  flex-direction: row;
  margin: 0 7%;
  justify-content: space-around;
  background-color: transparent;
}
.teamTitleCon {
  display: flex;
}

.owl-carousel .item {
  text-align: center;
  max-width: 200px;
}

.owl-carousel .nav-button {
  height: 50px;
  width: 25px;
  cursor: pointer;
  position: absolute;
  top: 110px !important;
}

.owl-carousel .owl-prev.disabled,
.owl-carousel .owl-next.disabled {
  pointer-events: none;
  opacity: 0.25;
}

.owl-carousel .owl-prev {
  left: 0;
}

.owl-carousel .owl-next {
  right: 0;
}

.owl-theme .owl-nav [class*="owl-"] {
  color: #355556;

  background: #355556;
  border-radius: 3px;
}
.teamTitle {
  padding-top: 10%;
  margin-left: 3%;
  font-size: 38px;
  font-weight: 300;
}
.teamLower {
  margin-bottom: 5%;
  margin-left: 3%;
  font-size: 38px;
  font-weight: 300;
}

#arrowSize {
  font-size: 35px;
  background: #355556;
  color: #fff;
  margin-top: 3px;
  text-align: center;
  width: 40px;
}
.owl-carousel .prev-carousel:hover {
  background-position: 0px -53px;
}

.owl-carousel .next-carousel:hover {
  background-position: -24px -53px;
}

.teamTitle2 {
  font-size: 15px;
  font-weight: 400;
  margin: 8px 0;
}
.teamCard {
  margin: 0 10px;
  text-align: justify;
}
.teamWords {
  font-size: 14px;
  font-weight: 100;
}
/* styling for rooms section */
.color2 {
  background-color: beige;
}
.roomContainer {
  display: flex;
  flex-direction: row;
  margin: 0 7%;
  justify-content: space-around;
  background-color: transparent;
  background-color: transparent;
}
.roomInner {
  flex: 4;
  background-color: transparent;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.room {
  padding: 20px;
}
.roomText {
  margin-top: 12%;
}
.roomWords {
  font-size: 38px;
  font-weight: 300;
}
.roomWords2 {
  font-size: 38px;
  font-weight: 300;
  margin-bottom: 25vh;
}

/* footer */
.footer {
  background: #355556;
  color: #fff;
  height: auto;
  display: flex;
  justify-content: space-around;
}
.center {
  padding: 30px 0;
}
.footerLinks {
  margin-top: 3%;
  display: flex;
  flex-direction: column;
}
.footerTitle {
  font-size: 38px;
  font-weight: 200;
  margin-top: 6%;
}
.footerWords {
  font-size: 14px;
  color: whitesmoke;
  margin: 15px 10px;
  text-decoration: none;
}
.button2 {
  height: 30px;
}
.footerButton {
  width: 250px;
  height: 50px;
  font-size: 15px;
  margin: 45px 0px;
  background-color: #355556;
  color: whitesmoke;
  border: 2px solid whitesmoke;
  margin-right: 12px;
}
.footerButton:hover {
  background-color: whitesmoke;
  color: #355556;
}
.copyFooter {
  font-size: 10px;
  color: gray;
}

/* !!!!!!!!!!!MOBILE THINGS!!!!!!!!!!! */

@media screen and (max-width: 768px) {
  main {
    flex-direction: column;
  }
  .tree {
    height: 35px;
    position: fixed;
    display: block;
    z-index: 3;
    margin-left: 25vw;
  }

  header {
    padding: 40px 0%;
  }
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }
  .nav-menu.active {
    left: 0;
  }

  .nav-item {
    margin: 2.5rem 0;
  }

  .thinkContainer {
    flex-direction: column;
    text-align: center;
  }
  .buildingTitle {
    text-align: center;
  }
  .teamTitle {
    text-align: center;
  }
  .teamLower {
    text-align: center;
  }
  .roomText {
    text-align: center;
  }
  .footer {
    flex-direction: column;
  }
  .footerTitle {
    text-align: center;
  }
  .mobileFooter {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    position: relative;
    text-align: center;
  }
  .footerLinks {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    position: relative;
    text-align: center;
  }
  .learnMoreButton {
    margin: 24px 0px;
  }
  .footerWords {
    margin-top: 5%;
    margin-bottom: 3%;
  }
  .mobileMoreAbout {
    display: flex;
    justify-content: space-around;
  }
  .button1 {
    height: 90px;
  }
  #navSleep {
    display: none;
    visibility: hidden;
  }
  .sticky {
    display: flex;
    justify-content: right;
  }
  .footerButton {
    margin: 20px 0;
  }
}

/* !!!!!!!!!TABLET MEDIA QUERIES!!!!!!!!! */
@media screen and (min-device-width: 768px) and (max-width: 1024px) {
  main {
    flex-direction: column;
  }
  .tree {
    height: 30px;
    z-index: 3;
    margin-left: 35vw;
    margin-top: 4vh;
  }
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }
  .nav-menu.active {
    left: 0;
  }

  .nav-item {
    margin: 2.5rem 0;
  }

  .thinkContainer {
    flex-direction: column;
  }
  .buildingTitle {
    text-align: center;
  }
  .teamTitle {
    text-align: center;
  }
  .teamLower {
    text-align: center;
  }
  .roomText {
    text-align: center;
  }
  .footer {
    flex-direction: column;
  }
  .footerTitle {
    text-align: center;
  }
  .mobileTank {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    position: relative;
    text-align: center;
  }
  .mobileFooter {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    position: relative;
    text-align: center;
  }
  .footerLinks {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    position: relative;
    text-align: center;
  }
  .learnMoreButton {
    margin: 24px 0px;
  }
  .footerWords {
    margin-top: 5%;
    margin-bottom: 3%;
  }
  .mobileMoreAbout {
    display: flex;
    justify-content: space-around;
  }
  .button1 {
    height: 90px;
  }
  #navSleep {
    display: none;
    visibility: hidden;
  }
  .sticky {
    display: flex;
    justify-content: right;
  }
}

/* hamburer test */
/* MENU STYLES */
.menu-wrap {
  position: fixed;
  top: 0;
  right: 1;
  z-index: 1;
  height: 100px;
  background: whitesmoke;
  width: 100vw;
  opacity: 0.8;
}
.boxSize {
  display: flex;
  justify-content: flex-start;
  background: whitesmoke;
}

.menu-wrap .toggler {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
  width: 100px;
  height: 50px;
  opacity: 0;
}

.menu-wrap .hamburger {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 60px;
  height: 60px;
  padding: 1rem;
  background: whitesmoke;
  opacity: 0.6;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Hamburger Line */
.menu-wrap .hamburger > div {
  position: relative;
  flex: none;
  width: 100%;
  height: 2px;
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}

/* Hamburger Lines - Top & Bottom */
.menu-wrap .hamburger > div::before,
.menu-wrap .hamburger > div::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: -10px;
  width: 100%;
  height: 2px;
  background: inherit;
}

/* Moves Line Down */
.menu-wrap .hamburger > div::after {
  top: 10px;
}

/* Toggler Animation */
.menu-wrap .toggler:checked + .hamburger > div {
  transform: rotate(135deg);
}

/* Turns Lines Into X */
.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after {
  top: 0;
  transform: rotate(90deg);
}

/* Rotate On Hover When Checked */
.menu-wrap .toggler:checked:hover + .hamburger > div {
  transform: rotate(225deg);
}

/* Show Menu */
.menu-wrap .toggler:checked ~ .menu {
  visibility: visible;
}

.menu-wrap .toggler:checked ~ .menu > div {
  transform: scale(1);
  transition-duration: var(--menu-speed);
}

.menu-wrap .toggler:checked ~ .menu > div > div {
  opacity: 1;
  transition: opacity 0.4s ease 0.4s;
}

.menu-wrap .menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-wrap .menu > div {
  border-radius: 50%;
  width: 200vw;
  height: 200vw;
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  transition: all 0.4s ease;
  background: floralwhite;
}

.menu-wrap .menu > div > div {
  text-align: center;
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0;
  transition: opacity 0.4s ease;
}

.menu-wrap .menu > div > div > ul > li {
  list-style: none;
  color: gray;
  font-size: 1.5rem;
  padding: 1rem;
}

.menu-wrap .menu > div > div > ul > li > a {
  color: inherit;
  text-decoration: none;
  transition: color 0.4s ease;
  opacity: 1;
}
